{%- comment %}
  Hey there! This snippet is managed by Locksmith (uselocksmith.com). You can
  fiddle with what's below, but your changes will be reset the next time that
  Locksmith interacts with your shop.

  Last updated: Sat, 16 Nov 2019 03:55:15 +0000
  Integration version: v5.34
{% endcomment -%}

{%assign _07='locksmith-content-variables'%}{%if locksmith_context == 'layout/start'%}{%include 'locksmith-variables', locksmith_scope: nil%}{%unless locksmith_server_lock%}{%capture original_content_for_header%}{{content_for_header}}{%endcapture%}{%capture original_content_for_layout%}{{content_for_layout}}{%endcapture%}{%if locksmith_access_denied and locksmith_manual_lock%}{%unless locksmith_access_denied_content%}{%assign locksmith_access_denied_content=content_for_layout%}{%endunless%}{%endif%}{%include _07%}{%include 'locksmith-variables', locksmith_scope: nil%}{%if locksmith_access_denied%}{%capture content_for_header%}{{content_for_header|replace:'.oembed', ''|replace:'.atom', ''|replace:'link rel="alternate" type="application/json+oembed"', 'link'|replace:' title="Feed" rel="alternate" type="application/atom+xml"', ''}}{%endcapture%}{%if locksmith_manual_lock == false%}{%capture content_for_header%}{{content_for_header}}<meta name="robots" content="noindex" />{%endcapture%}{%endif%}{%endif%}{%capture content_for_layout%}{%if locksmith_access_granted%}{%if locksmith_redirect == blank%}{{original_content_for_layout}}{%else%}{{locksmith_redirect}}{%endif%}{%elsif locksmith_server_lock and locksmith_server_rendered != true%}{{original_content_for_layout}}{%else%}{{locksmith_access_denied_content}}{%endif%}{%if locksmith_access_denied%}<div id="locksmith-suspension-notice" style="display: none;">
  <div>
    <span><b>Your Locksmith account has been suspended</b>, and nobody can access this content!</span>
    <a href="/admin/apps/locksmith/" target="_blank">Start your Locksmith subscription, or disable Locksmith <i></i></a>
  </div>
  <div>
    <span><small>Only you can see this notice.</small></span>
  </div>
</div>

<style type="text/css">
  #locksmith-suspension-notice {
    box-sizing: border-box;
    min-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #8C0B0B;
    color: #fff;
    padding: 5px 10px;
    z-index: 2147483647;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
  }

  #locksmith-suspension-notice > div {
    flex-grow: 2;
  }

  #locksmith-suspension-notice > div:last-child {
    text-align: right;
    flex-grow: 1;
  }

  #locksmith-suspension-notice small {
    opacity: 0.8;
    font-size: 13px;
    display: block;
    padding-top: 4px;
  }

  #locksmith-suspension-notice span,
  #locksmith-suspension-notice a {
    display: inline-block;
    margin: 4px 10px;
  }

  #locksmith-suspension-notice a {
    background: #fff;
    color: #a00;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 8px 4px;
    white-space: nowrap;
    transition: all 0.3s;
    position: relative;
    bottom: 0;
  }

  #locksmith-suspension-notice a i {
    margin-left: 3px;
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5px 0 3.5px 3px;
    border-color: transparent transparent transparent #a00;
  }

  #locksmith-suspension-notice a:hover {
    position: relative;
    bottom: 1px;
  }
</style>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    if (document.getElementById('admin-bar-iframe')) {
      document.getElementById('locksmith-suspension-notice').style.display = 'flex';
    }
  });
</script>{%endif%}{%endcapture%}{%if locksmith_access_denied and content_for_layout contains '<input type="hidden" name="form_type" value="customer_login" />'%}{%assign locksmith_original_template=template%}{%assign template='customers/login'%}{%endif%}{%endunless%}{%elsif locksmith_context == 'layout/end'%}{%include _07%}{%include 'locksmith-variables', locksmith_scope: nil%}{%capture canonical_url_json%}{{canonical_url|json}}{%endcapture%}{%if locksmith_canonical_url == blank%}{%assign locksmith_canonical_url=canonical_url%}{%endif%}{%capture locksmith_canonical_url_json%}{{locksmith_canonical_url|json}}{%endcapture%}{%capture _n%}{{locksmith_json}}{{locksmith_client -}}
    <script data-locksmith>Locksmith.jsonTag={{locksmith_json|json}};Locksmith.jsonTagSignature={{locksmith_json_signature|json}}</script>
    <script data-locksmith>!function(){Locksmith.state.server_lock&&!Locksmith.state.server_rendered&&(Locksmith.state.manual_lock&&Locksmith.state.access_denied||Locksmith.getResource()),Locksmith.util.on("submit","locksmith-resource-form",function(e){e.preventDefault();var t=Locksmith.util.serializeForm(e.target);Locksmith.postResource(t,{spinner:!1,reload:!0})})}();</script>{%- endcapture%}{%capture _j -%}<script data-locksmith>Locksmith.ping()</script>{%- endcapture%}{%assign _3=true%}{%assign _f=locksmith_source|split:content_for_header%}{%if _3 and _f.size == 2%}{%assign _03=_f[0]%}{%assign _z=_f[1]%}{%else%}{%assign _3=false%}{%endif%}{%assign _b=_z|split:content_for_layout%}{%if _3 and _b.size == 2%}{%assign _v=_b[0]%}{%assign _r=_b[1]%}{%else%}{%assign _3=false%}{%endif%}{%capture _7%}{%if _3%}{{_03}}{{content_for_header}}{{_n}}{{_v}}{{content_for_layout}}{{_j}}{{_r}}{%else%}{{locksmith_source}}{{_n}}{{_j}}{%endif%}{%endcapture%}{%assign _7=_7|replace:canonical_url, locksmith_canonical_url|replace:canonical_url_json, locksmith_canonical_url_json%}{%if locksmith_server_rendered%}{{_7}}{%elsif locksmith_server_lock -%}<!-- missing locksmith crypto! -->{%- else%}{{_7}}{%endif%}{%endif%}